In [24]:
import pandas as pd

Fixing the title situation prior to the merging

In [ ]:
'''old_titles_and_variations = {
    "bar_data.csv": [
        "South Korea leads internet speed, HK and Japan follow",
        "average internet speeds in asia"
    ],
    "line_data.csv": [
        "monthly oil price history in 2015",
        "Oil prices spike between April and June"
    ],
    "pie_data.csv": [
        "global smartphone market share (%)",
        "Samsung leads, Apple second in global marketshare of phones"
    ],
    "scatterplot_data.csv": [
        "height vs. weight of 85 males",
        "Slightly positive corr between men's height and weight"
    ],
    "stacked_area_data.csv": [
        "popular girls' names in the uk",
        "Amelia leads girls names for almost a decade"
    ],
    "stacked_bar_data.csv": [
        "hotel costs of room service",
        "NY and Vegas have most expensive room services, Seattle cheapest"
    ],
    "histogram_data.csv": [
        "taxi passenger ratings",
        "4.4 to 4.6 Are The Most Common Taxi Passenger Ratings"
    ],
    "area_data.csv": [
        "average coffee bean price from 2013 to 2014",
        "Coffe bean price dropped from 2013 high to 2014 low"
        Coffee Bean Price Dropped from 2013 High to 2014 Low
    ],
    "100_stacked_bar_data.csv": ["election exit poll of california state by education",
                                 "Democrats in CA shine with no diplomas and postgrads"]
}

new_titles_with_variations = {
    "bar_data.csv": [
        "South Korea Leads Internet Speed, HK and Japan follow",
        "Average Internet Speeds in Asia"
    ],
    "line_data.csv": [
        "Monthly Oil Price History in 2015",
        "Oil Prices Spike Between April and June"
    ],
    "pie_data.csv": [
        "Global Smartphone Market Share (%)",
        "Samsung Leads, Apple Second in Global Phone Market Share"
    ],
    "scatterplot_data.csv": [
        "Height vs. Weight of 85 Males",
        "Slightly Positive Correlation Between Men's Height and Weight"
    ],
    "stacked_area_data.csv": [
        "Popular Girls' Names in the UK",
        "Amelia Leads Girls Names for Almost a Decade"
    ],
    "stacked_bar_data.csv": [
        "Hotel Costs of Room Service",
        "NY and Vegas Have Most Expensive Room Services, Seattle Cheapest"
    ],
    "histogram_data.csv": [
        "Taxi Passenger Ratings",
        "4.4 to 4.6 Are The Most Common Taxi Passenger Ratings"
    ],
    "area_data.csv": [
        "Average Coffee Bean Price from 2013 to 2014",
        "Coffee Bean Price Dropped from 2013 High to 2014 Low"
    ],
    "100_stacked_bar_data.csv": ["Election Exit Poll of California State by Education",
                                 "Democrats in CA Shine With No Diplomas and Postgrads"]
}

'''

In [2]:
def dict_to_dataframe(data_dict):
    """
    Converts a dictionary with 2-entry lists as values into a DataFrame.

    Args:
        data_dict (dict): A dictionary where each value is a 2-entry list.

    Returns:
        pd.DataFrame: A DataFrame with columns 'old' and 'new'.
    """
    try:
        data = []
        for key, values in data_dict.items():
            if len(values) != 2:
                raise ValueError(f"Value for key '{key}' is not a 2-entry list.")
            
            old_val = ""
            new_val = ""

            if isinstance(values[0], str) and values[0].islower():
                old_val = values[0]
                new_val = values[1]
            elif isinstance(values[1], str) and values[1].islower():
                old_val = values[1]
                new_val = values[0]
            else:
                raise ValueError(f"No lowercase string found in value for key '{key}'.")
            
            data.append({'old': old_val, 'new': new_val})
        
        return pd.DataFrame(data)
    except (ValueError, TypeError) as e:
        print(f"Error: {e}")
        return pd.DataFrame() #Return empty dataframe if error.

This below is the merging, but above well fix the titles situation

In [3]:
google_perfect_plots = pd.read_csv("finalRESULTSDATASETS/google_correct_plots.csv")

google_perfect_plots_wo_cols = google_perfect_plots.drop(['Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0'], axis=1)

so first line of attack, we want to take out response times as well and make a single df for main running results

In [4]:
google_perfect_plots_wo_cols_no = google_perfect_plots_wo_cols.drop(['response_time_1',
        'response_time_2',  'response_time_3',
        'response_time_4',  'response_time_5',
        'response_time_6',  'response_time_7',
        'response_time_8',  'response_time_9',
        'response_time_10', 
       'response_time_11',  'response_time_12',
        'response_time_13', 
       'response_time_14',  'response_time_15',
        'response_time_16', 
       'response_time_17', 'response_time_18',
        'response_time_19',
       'response_time_20'], axis=1)

In [16]:
google_perfect_plots_wo_cols_no["worsened_axes"] = 0
google_perfect_plots_wo_cols_no["google_model"] = 1 #lets make these two ready
google_perfect_plots_wo_cols_no["openai_model"] = 0 #lets make these two ready so that i can use the reference datasets for test8 and for perfectaxis separately

In [9]:
def check_images_are_unique(df):
    # Group by the two columns and take the first row of each group
    unique_combinations_df = df.groupby(['worsened_axes', 'image']).first().reset_index()[['worsened_axes', 'image']]

    # Convert to list of tuples (optional)
    unique_combinations_list = list(zip(unique_combinations_df['worsened_axes'], unique_combinations_df['image']))

    print(unique_combinations_df)
    print(unique_combinations_list)

now for the ones which had the worsened axes, and then we merge them

In [ ]:
google_worse_axes = pd.read_csv("finalRESULTSDATASETS/google_test8.csv")
google_worse_axes_dropped = google_worse_axes.drop(['Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0','response_time_1',
        'response_time_2',  'response_time_3',
        'response_time_4',  'response_time_5',
        'response_time_6',  'response_time_7',
        'response_time_8',  'response_time_9',
        'response_time_10', 
       'response_time_11',  'response_time_12',
        'response_time_13', 
       'response_time_14',  'response_time_15',
        'response_time_16', 
       'response_time_17', 'response_time_18',
        'response_time_19',
       'response_time_20'],axis=1)
google_worse_axes_dropped["worsened_axes"] = 1
google_worse_axes_dropped["google_model"] = 1 #lets make these two ready
google_worse_axes_dropped["openai_model"] = 0 #lets make these two ready so that i can use the reference datasets for test8 and for perfectaxis separately

#checked that both these dfs have 380 combinations of image and worsened axes, and now their merger should also have that actually

merge 
because some of the titles had caps, the images were doubling in both google and openai merges, so before we merge i must just lower caps everything

so all we need now is to also change the title of the marketshare, change coffe to coffee and change corr to correlation

In [ ]:
#google_worse_axes_dropped["image"] = google_worse_axes_dropped["image"].str.lower() 
#google_perfect_plots_wo_cols_no["image"] = google_perfect_plots_wo_cols_no["image"].str.lower()

#googledf = pd.concat([google_worse_axes_dropped, google_perfect_plots_wo_cols_no], ignore_index=True)

In [ ]:
#googledf["google_model"] = 1
#googledf["openai_model"] = 0

no need to use googledf - we'll use google_perfect_plots_wo_cols_no for pp and google_worse_axes_dropped for test8

but also do the openai ones

In [18]:
gpt_perfect_plots_toomanycols = pd.read_csv("finalRESULTSDATASETS/gpt_perfect_plots.csv")
gpt_perfect_plots_wocols = gpt_perfect_plots_toomanycols.drop(['Unnamed: 0','response_time_1',
        'response_time_2',  'response_time_3',
        'response_time_4',  'response_time_5',
        'response_time_6',  'response_time_7',
        'response_time_8',  'response_time_9',
        'response_time_10', 
       'response_time_11',  'response_time_12',
        'response_time_13', 
       'response_time_14',  'response_time_15',
        'response_time_16', 
       'response_time_17', 'response_time_18',
        'response_time_19',
       'response_time_20'],axis=1)

gpt_perfect_plots_wocols["worsened_axes"] = 0
gpt_perfect_plots_wocols["google_model"] = 0
gpt_perfect_plots_wocols["openai_model"] = 1

In [20]:
gpt_Test8 = pd.read_csv("finalRESULTSDATASETS/gpt_test8.csv")
gpt_test8_Ready = gpt_Test8.drop('Unnamed: 0', axis = 1)
gpt_test8_Ready["google_model"] = 0
gpt_test8_Ready["openai_model"] = 1
gpt_test8_Ready["worsened_axes"] = 1

theres need to change the "cannot infer" in some histogram files

and now we have gpt_test8_Ready and gpt_perfect_plots_wocols for the test8 and pp from gpt - this way id have a ready dataset with the worsened axes by merging gpt_test8_Ready and google_worse_axes_dropped and a perfect dataset by merging google_perfect_plots_wo_cols and

In [ ]:
#openaidf = pd.concat([gpt_perfect_plots_wocols, gpt_test8_Ready], ignore_index=True)
#openaidf["google_model"] = 0
#openaidf["openai_model"] = 1

In [ ]:
#openai_google_combined = pd.concat([openaidf, googledf], ignore_index = True)

In [20]:
#openai_google_combined_valuesreplaced2.to_csv("testingTHEFINAL_correctsize_rightvars.csv")

Now that we double checked the size, each formative one has 1820 rows! amazing, lets create a function to craft all the other vars!

i need to use two different datasets, one for the old titles of test8 and one for the new titles of the perfect plots to match with all the characteristics of these plots, and then i can just create the dummies once we have the test8 and the perfectplots' reference

1)creating the perfect plots reference

In [22]:
import json

#this is the generator of a dataset based on a config, but i need the new configs
def generate_dataset(config_list):
    records = []
    
    with open(config_list, "r") as file:
        ready_config_list = json.load(file)
    for config in ready_config_list:
        
        filename = f"{config['dataset']}_{config['plot_type']}_{config['title'].replace(' ', '_')}_{config['color'][0]}.png"
        
        record = {
            "filename": filename,
            "dataset": config["dataset"],
            "plot_type": config["plot_type"],
            "title": config["title"],
            "color": config["color"][0]
        }
        records.append(record)
    
    df = pd.DataFrame(records)
    return df

now i need the specific config.json for the new plots -NOT THE OLD ONES

In [ ]:
#GETTING THE NEW PLOTS CONFIG.JSON
#i used that old function to generate something called newConfigs.json, that we will now feed to the generate dataset

# mkdir cell that uses a specific generate_config and save_plot functions (depending on the save_plot and the titles different configs will be saved) for newConfigs

now with the newConfigs, ill generate the dataset that would allow me to fetch out specific dummies

In [23]:
config_dataset_for_dummy_generation = generate_dataset("newConfigs.json")

In [25]:
config_dataset_for_dummy_generation.to_csv("newConfigsReferenceDataset.csv")
config_dataset_for_dummy_generation

,filename,dataset,plot_type,title,color
0,line_data.csv_line_Monthly_Oil_Price_History_i...,line_data.csv,line,Monthly Oil Price History in 2015,red
1,line_data.csv_line_Oil_Prices_Spike_Between_Ap...,line_data.csv,line,Oil Prices Spike Between April and June,red
2,line_data.csv_line_Monthly_Oil_Price_History_i...,line_data.csv,line,Monthly Oil Price History in 2015,saddlebrown
3,line_data.csv_line_Oil_Prices_Spike_Between_Ap...,line_data.csv,line,Oil Prices Spike Between April and June,saddlebrown
4,line_data.csv_line_Monthly_Oil_Price_History_i...,line_data.csv,line,Monthly Oil Price History in 2015,lightgray
...,...,...,...,...,...
375,stacked_area_data.csv_stacked_bar_100_Amelia_L...,stacked_area_data.csv,stacked_bar_100,Amelia Leads Girls Names for Almost a Decade,mediumvioletred
376,stacked_area_data.csv_stacked_bar_100_Popular_...,stacked_area_data.csv,stacked_bar_100,Popular Girls' Names in the UK,chartreuse
377,stacked_area_data.csv_stacked_bar_100_Amelia_L...,stacked_area_data.csv,stacked_bar_100,Amelia Leads Girls Names for Almost a Decade,chartreuse
378,stacked_area_data.csv_stacked_bar_100_Popular_...,stacked_area_data.csv,stacked_bar_100,Popular Girls' Names in the UK,burlywood
379,stacked_area_data.csv_stacked_bar_100_Amelia_L...,stacked_area_data.csv,stacked_bar_100,Amelia Leads Girls Names for Almost a Decade,burlywood

Now I'll go on to make every column a fucking dummy: the title is no longer divided into caps and no caps, so ill need to use a dictionary but the rest i can use the pd.dummy function! The pipeline for the other referenceDatasetForGeneratedPlots.csv is the pipeline for the test8 dataset

In [26]:
#ill just create a dict with what is a referential title and what is a normal one
dataset_plot_title_with_variations2 = {
    "bar_data.csv": [
        "Average Internet Speeds in Asia",
        "South Korea Leads Internet Speed, HK and Japan follow"
    ],
    "line_data.csv": [
        "Monthly Oil Price History in 2015",
        "Oil Prices Spike Between April and June"
    ],
    "pie_data.csv": [
        "Global Smartphone Market Share (%)",
        "Samsung Leads, Apple Second in Global Phone Market Share"
    ],
    "scatterplot_data.csv": [
        "Height vs. Weight of 85 Males",
        "Slightly Positive Correlation Between Men's Height and Weight"
    ],
    "stacked_area_data.csv": [
        "Popular Girls' Names in the UK",
        "Amelia Leads Girls Names for Almost a Decade"
    ],
    "stacked_bar_data.csv": [
        "Hotel Costs of Room Service",
        "NY and Vegas Have Most Expensive Room Services, Seattle Cheapest"
    ],
    "histogram_data.csv": [
        "Taxi Passenger Ratings",
        "4.4 to 4.6 Are The Most Common Taxi Passenger Ratings"
    ],
    "area_data.csv": [
        "Average Coffee Bean Price from 2013 to 2014",
        "Coffee Bean Price Dropped from 2013 High to 2014 Low"
    ],
    "100_stacked_bar_data.csv": ["Election Exit Poll of California State by Education",
                                 "Democrats in CA Shine With No Diplomas and Postgrads"]
}

In [30]:
normal_titles = []
referential_titles = []

for i in dataset_plot_title_with_variations2.values():
    normal_titles.append(i[0])
    referential_titles.append(i[1])

In [31]:
#now i just make that a dataframe
mid_data1 = {"referential_title": 1, "title": referential_titles}
mid_data2 = {"referential_title": 0, "title": normal_titles}

referential_titles_df1 = pd.DataFrame(mid_data1)
referential_titles_df2 = pd.DataFrame(mid_data2)

referential_titles_df = pd.concat([referential_titles_df1, referential_titles_df2])

now ill figure out the title for the configs, and then extend the other dummies, then ill merge it with the perfect axes df

In [ ]:
config_dataset_for_dummy_generation_with_titles = pd.merge(referential_titles_df, config_dataset_for_dummy_generation, "left")
#config_dataset_for_dummy_generation_with_titles

and now we generate dummies for the rest before merging with perfect axes df (google perfect axes+openai perfect axes)

In [44]:
def create_dummies_for_columns(df, columns):
    """
    Creates dummy variables for specified columns in a Pandas DataFrame.

    Args:
      df: The Pandas DataFrame.
      columns: A list of column names to create dummies for.

    Returns:
      The DataFrame with dummy variables added, and original columns removed.
    """
    for col in columns:
        dummies = pd.get_dummies(df[col], prefix=col)
        df = pd.concat([df, dummies], axis=1)
        df = df.drop(col, axis=1)  # Remove the original column
    return df


predf_to_be_merged_with_perfect_axes = create_dummies_for_columns(config_dataset_for_dummy_generation_with_titles, ['dataset', 'plot_type', 'color'])
df_to_be_merged_with_perfect_axes = predf_to_be_merged_with_perfect_axes.drop("title", axis=1)

In [51]:
df_to_be_merged_with_perfect_axes["filename"]

0      bar_data.csv_bar_South_Korea_Leads_Internet_Sp...
1      bar_data.csv_bar_South_Korea_Leads_Internet_Sp...
2      bar_data.csv_bar_South_Korea_Leads_Internet_Sp...
3      bar_data.csv_bar_South_Korea_Leads_Internet_Sp...
4      bar_data.csv_bar_South_Korea_Leads_Internet_Sp...
                             ...
375    100_stacked_bar_data.csv_stacked_bar_100_Elect...
376    100_stacked_bar_data.csv_stacked_bar_100_Elect...
377    100_stacked_bar_data.csv_stacked_bar_100_Elect...
378    100_stacked_bar_data.csv_stacked_bar_100_Elect...
379    100_stacked_bar_data.csv_stacked_bar_100_Elect...
Name: filename, Length: 380, dtype: object

In [53]:
#now we actually merge with the stacking of the two datasets from the perfect axes
perfect_axes = pd.concat([gpt_perfect_plots_wocols, google_perfect_plots_wo_cols_no])
perfect_axes["filename"] = perfect_axes["image"] 
perfect_axes_premerger = perfect_axes.drop(["dataset", "image"], axis=1)

In [56]:
perfect_axes_wdummies = pd.merge(df_to_be_merged_with_perfect_axes, perfect_axes_premerger, "left")

In [63]:
perfect_axes_wdummies.to_csv("perfect_axes_wdummies.csv")

using this as a checkpoint

In [1]:
import pandas as pd
perfect_axes_wdummies = pd.read_csv("perfect_axes_wdummies.csv")

now lets do the process of cleaning with the answers to create our design guidelines dataset

In [2]:
import re
#lets grab the answers csv
ans = pd.read_csv("ans.csv")
trace2 = ans.iloc[12]["question"] #problematic question
trace = ans.iloc[40]["question"] #problematic question2

#define a function to remove these questions from dataframes
def filter_dataframe_without_traces_normalized(df, trace1, trace2):
    """
    Filters a DataFrame to exclude rows where 'question' matches trace1 or trace2 
    (case-insensitive, no spaces) after normalizing the 'question' column.
    """
    try:
        # Compile regular expression for removing spaces
        space_re = re.compile(r'\s+')

        # Normalize trace strings
        trace1_normalized = space_re.sub('', str(trace1).lower())
        trace2_normalized = space_re.sub('', str(trace2).lower())

        # Normalize the 'question' column for comparison
        normalized_question = df['question'].astype(str).str.lower().apply(lambda x: space_re.sub('', x))

        # Apply filtering based on the normalized 'question' column
        filtered_df = df[
            (normalized_question != trace1_normalized) &
            (normalized_question != trace2_normalized)
        ]
        return filtered_df
    except KeyError:
        print("Error: 'question' column not found in DataFrame.")
        return pd.DataFrame()
    except AttributeError:
        print("Error: one of the traces is not a string or cannot be converted to a string")
        return pd.DataFrame()

In [3]:
#droppping the problematic questions from perfect_axes_wdummies
perfect_axes_wdummies_nobadq = filter_dataframe_without_traces_normalized(perfect_axes_wdummies, trace, trace2)
#perfect_axes_wdummies_nobadq

In [37]:
#dropping the problematic and the ones we didnt run from ans as well so we could merge these two
ans_wo_problematic = ans.drop([12,40])
new_ans_for_perfect = ans_wo_problematic.drop(range(43,54))
ready_ans = ans.drop(range(43,54))

leave here the full questions without taking out the problematic questions for general assessment

In [38]:
#perfect_axes_wdummies and ans
#now we merge them by question, but we should probably first take out all spaces and highletters from the questions
perfect_axes_wdummies["question_lowered_nospace"] = perfect_axes_wdummies["question"].astype(str).str.lower().str.replace(r'\s+', '', regex=True)
ready_ans["question_lowered_nospace"] = ready_ans["question"].astype(str).str.lower().str.replace(r'\s+', '', regex=True)

In [39]:
vlat_ex = pd.merge(ready_ans, perfect_axes_wdummies, "left", "question_lowered_nospace")

In [41]:
vlat_ex.columns

Index(['Unnamed: 0_x', 'dataset', 'question_x', 'answer', 'question_type',
       'question_lowered_nospace', 'Unnamed: 0_y', 'referential_title',
       'filename', 'dataset_100_stacked_bar_data.csv', 'dataset_area_data.csv',
       'dataset_bar_data.csv', 'dataset_histogram_data.csv',
       'dataset_line_data.csv', 'dataset_pie_data.csv',
       'dataset_scatterplot_data.csv', 'dataset_stacked_area_data.csv',
       'dataset_stacked_bar_data.csv', 'plot_type_bar', 'plot_type_hist',
       'plot_type_line', 'plot_type_pie', 'plot_type_scatter',
       'plot_type_stacked_bar', 'plot_type_stacked_bar_100', 'color_black',
       'color_burlywood', 'color_chartreuse', 'color_lightgray',
       'color_lightpink', 'color_mediumvioletred', 'color_navy', 'color_red',
       'color_saddlebrown', 'color_tomato', 'question_y', 'gpt_answer_1',
       'gpt_answer_2', 'gpt_answer_3', 'gpt_answer_4', 'gpt_answer_5',
       'gpt_answer_6', 'gpt_answer_7', 'gpt_answer_8', 'gpt_answer_9',
       'gpt_answer_10', 'gpt_answer_11', 'gpt_answer_12', 'gpt_answer_13',
       'gpt_answer_14', 'gpt_answer_15', 'gpt_answer_16', 'gpt_answer_17',
       'gpt_answer_18', 'gpt_answer_19', 'gpt_answer_20', 'worsened_axes',
       'google_model', 'openai_model'],
      dtype='object')

In [44]:
vlat_ex2 = vlat_ex.drop(['Unnamed: 0_x', 'Unnamed: 0_y','question_y', 'gpt_answer_1',
       'gpt_answer_2', 'gpt_answer_3', 'gpt_answer_4', 'gpt_answer_5',
       'gpt_answer_6', 'gpt_answer_7', 'gpt_answer_8', 'gpt_answer_9',
       'gpt_answer_10', 'gpt_answer_11', 'gpt_answer_12', 'gpt_answer_13',
       'gpt_answer_14', 'gpt_answer_15', 'gpt_answer_16', 'gpt_answer_17',
       'gpt_answer_18', 'gpt_answer_19', 'gpt_answer_20', 'worsened_axes',
       'google_model', 'openai_model', 'question_lowered_nospace'], axis=1)
vlat_ex3 = vlat_ex2.rename(columns={"question_x":"question"})

In [46]:
vlat_ex3.to_csv("additional_materials/vlatex.csv")

CHECK: NEW_ANS AND perfect_axes_wdummies_nobadq SHOULD HAVE SAME AMOUNT OF DIFFERENT QUESTIONS

In [26]:
len(perfect_axes_wdummies_nobadq["question"].unique())

41

In [6]:
len(new_ans_for_perfect["question"].unique())

41

In [27]:
#now we merge them by question, but we should probably first take out all spaces and highletters from the questions
perfect_axes_wdummies_nobadq["question_lowered_nospace"] = perfect_axes_wdummies_nobadq["question"].astype(str).str.lower().str.replace(r'\s+', '', regex=True)
new_ans_for_perfect["question_lowered_nospace"] = new_ans_for_perfect["question"].astype(str).str.lower().str.replace(r'\s+', '', regex=True)

C:\Users\matheus\AppData\Local\Temp\ipykernel_77864\1863128538.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  perfect_axes_wdummies_nobadq["question_lowered_nospace"] = perfect_axes_wdummies_nobadq["question"].astype(str).str.lower().str.replace(r'\s+', '', regex=True)

In [18]:
perfect_axes_wdummies_nobadq_wans = pd.merge(new_ans_for_perfect, perfect_axes_wdummies_nobadq, "left", "question_lowered_nospace")

now we just trim down the columns and the responses, so we can count the rights

In [19]:
#len(perfect_axes_wdummies_nobadq_wans["filename"].unique())
perfect_axes_wdummies_nobadq_wans["question"] = perfect_axes_wdummies_nobadq_wans["question_x"]
perfect_axes_wdummies_nobadq_wans.drop(["Unnamed: 0_x", "Unnamed: 0_y", "question_x","question_y", "filename"], axis=1, inplace=True)

In [30]:
perfect_axes_wdummies_nobadq_wans.columns

Index(['dataset', 'answer', 'question_type', 'question_lowered_nospace',
       'referential_title', 'dataset_100_stacked_bar_data.csv',
       'dataset_area_data.csv', 'dataset_bar_data.csv',
       'dataset_histogram_data.csv', 'dataset_line_data.csv',
       'dataset_pie_data.csv', 'dataset_scatterplot_data.csv',
       'dataset_stacked_area_data.csv', 'dataset_stacked_bar_data.csv',
       'plot_type_bar', 'plot_type_hist', 'plot_type_line', 'plot_type_pie',
       'plot_type_scatter', 'plot_type_stacked_bar',
       'plot_type_stacked_bar_100', 'color_black', 'color_burlywood',
       'color_chartreuse', 'color_lightgray', 'color_lightpink',
       'color_mediumvioletred', 'color_navy', 'color_red', 'color_saddlebrown',
       'color_tomato', 'gpt_answer_1', 'gpt_answer_2', 'gpt_answer_3',
       'gpt_answer_4', 'gpt_answer_5', 'gpt_answer_6', 'gpt_answer_7',
       'gpt_answer_8', 'gpt_answer_9', 'gpt_answer_10', 'gpt_answer_11',
       'gpt_answer_12', 'gpt_answer_13', 'gpt_answer_14', 'gpt_answer_15',
       'gpt_answer_16', 'gpt_answer_17', 'gpt_answer_18', 'gpt_answer_19',
       'gpt_answer_20', 'worsened_axes', 'google_model', 'openai_model',
       'question', 'correct_count'],
      dtype='object')

now we must change the correct answers and the given answers so we can count stuff

In [28]:
#loop for trimming down all the answers
for col in ['gpt_answer_1', 'gpt_answer_2', 'gpt_answer_3',
       'gpt_answer_4', 'gpt_answer_5', 'gpt_answer_6', 'gpt_answer_7',
       'gpt_answer_8', 'gpt_answer_9', 'gpt_answer_10', 'gpt_answer_11',
       'gpt_answer_12', 'gpt_answer_13', 'gpt_answer_14', 'gpt_answer_15',
       'gpt_answer_16', 'gpt_answer_17', 'gpt_answer_18', 'gpt_answer_19',
       'gpt_answer_20', 'answer']:
      if col in perfect_axes_wdummies_nobadq_wans.columns: #Check that the column exists.
        perfect_axes_wdummies_nobadq_wans[col] = perfect_axes_wdummies_nobadq_wans[col].astype(str).str.lower().str.replace(r'\s+', '', regex=True)


#function for getting the count of columns that match the correct answer
def add_correct_count_column(df, answer_columns, correct_answer_column, new_column_name='correct_count'):
    """
    Adds a new column to the DataFrame containing the number of answer columns that match the correct answer.

    Args:
        df (pd.DataFrame): The DataFrame to modify.
        answer_columns (list): A list of column names representing answer choices.
        correct_answer_column (str): The name of the column containing the correct answer.
        new_column_name (str): The name of the new column to create. Defaults to 'correct_count'.
    """

    def count_correct(row):
        correct_answer = row[correct_answer_column]
        correct_count = 0
        for col in answer_columns:
            if row[col] == correct_answer:
                correct_count += 1
        return correct_count

    df[new_column_name] = df.apply(count_correct, axis=1)
    return df

In [22]:
perfect_axes_wdummies_nobadq_wans_wres = add_correct_count_column(perfect_axes_wdummies_nobadq_wans, 
                         ['gpt_answer_1', 'gpt_answer_2', 'gpt_answer_3',
       'gpt_answer_4', 'gpt_answer_5', 'gpt_answer_6', 'gpt_answer_7',
       'gpt_answer_8', 'gpt_answer_9', 'gpt_answer_10', 'gpt_answer_11',
       'gpt_answer_12', 'gpt_answer_13', 'gpt_answer_14', 'gpt_answer_15',
       'gpt_answer_16', 'gpt_answer_17', 'gpt_answer_18', 'gpt_answer_19',
       'gpt_answer_20'],"answer" )

In [23]:
perfect_axes_wdummies_nobadq_wans_wres.to_csv("perfect_axes_results_AM.csv")

and this, is a ready dataset for GENERATING RESULTS

this below is the test8 pipeline - wed do the same thing just using the other config, so that the titles match when using the referential dataset, i think the other referential dataset would suffice!

In [2]:
#this should have - and does have 380 images
referencepredummy = pd.read_csv("referenceDatasetForGeneratedPlots.csv")
len(referencepredummy["filename"])

380

quick function to categorize the title as either normal or referential (the economist like)

In [4]:
import re
def categorize_text(df, text_column):
    """
    Categorizes text entries based on the presence of uppercase letters.

    Args:
        df (pd.DataFrame): The DataFrame containing the text column.
        text_column (str): The name of the column containing the text.

    Returns:
        pd.DataFrame: The DataFrame with 'referential' and 'normal' columns added.
    """

    def check_caps(text):
        if isinstance(text, str): #check if entry is a string
            if re.search(r'[A-Z]', text):
                return 'referential'
            else:
                return 'normal'
        else: #if the entry is not a string, put in normal.
            return 'normal'

    categories = df[text_column].apply(check_caps)

    df['referential_title'] = (categories == 'referential').astype(int)
    df['normal_title'] = (categories == 'normal').astype(int)

    return df

In [5]:
categorize_text(referencepredummy,"title")

,Unnamed: 0,filename,dataset,plot_type,title,color,referential_title,normal_title
0,0,line_data.csv_line_monthly_oil_price_history_i...,line_data.csv,line,monthly oil price history in 2015,red,0,1
1,1,line_data.csv_line_Oil_prices_spike_between_Ap...,line_data.csv,line,Oil prices spike between April and June,red,1,0
2,2,line_data.csv_line_monthly_oil_price_history_i...,line_data.csv,line,monthly oil price history in 2015,saddlebrown,0,1
3,3,line_data.csv_line_Oil_prices_spike_between_Ap...,line_data.csv,line,Oil prices spike between April and June,saddlebrown,1,0
4,4,line_data.csv_line_monthly_oil_price_history_i...,line_data.csv,line,monthly oil price history in 2015,lightgray,0,1
...,...,...,...,...,...,...,...,...
375,375,stacked_area_data.csv_stacked_bar_100_Amelia_l...,stacked_area_data.csv,stacked_bar_100,Amelia leads girls names for almost a decade,mediumvioletred,1,0
376,376,stacked_area_data.csv_stacked_bar_100_popular_...,stacked_area_data.csv,stacked_bar_100,popular girls' names in the uk,chartreuse,0,1
377,377,stacked_area_data.csv_stacked_bar_100_Amelia_l...,stacked_area_data.csv,stacked_bar_100,Amelia leads girls names for almost a decade,chartreuse,1,0
378,378,stacked_area_data.csv_stacked_bar_100_popular_...,stacked_area_data.csv,stacked_bar_100,popular girls' names in the uk,burlywood,0,1
379,379,stacked_area_data.csv_stacked_bar_100_Amelia_l...,stacked_area_data.csv,stacked_bar_100,Amelia leads girls names for almost a decade,burlywood,1,0

In [6]:
def create_dummies_for_columns(df, columns):
    """
    Creates dummy variables for specified columns in a Pandas DataFrame.

    Args:
      df: The Pandas DataFrame.
      columns: A list of column names to create dummies for.

    Returns:
      The DataFrame with dummy variables added, and original columns removed.
    """
    for col in columns:
        dummies = pd.get_dummies(df[col], prefix=col)
        df = pd.concat([df, dummies], axis=1)
        df = df.drop(col, axis=1)  # Remove the original column
    return df

In [7]:
referencewDUMMIES = create_dummies_for_columns(referencepredummy, ['dataset', 'plot_type', 'color'])

In [8]:
referencewDUMMIES2 = referencewDUMMIES.rename(columns={'filename': 'image'})

In [11]:
referencewDUMMIES2.to_csv("referenceDummies_for_test8help.csv")

In [25]:
len(referencewDUMMIES2["image"].unique())

NameError: name 'referencewDUMMIES2' is not defined

before we proceed, its important to adress why theres 7k rows before the merge and only half after - it turns out it was the way we were doing the merge

now i need to merge with the answers df that we got with each answer for the questions

In [ ]:
#lets grab the answers csv
ans = pd.read_csv("ans.csv")
trace2 = ans.iloc[12]["question"]
trace = ans.iloc[40]["question"]

i marked these as traces and ill have them removed for now - ill try to run these 4 againand worst case ill use them from what we already have

In [65]:
trace2 = ans.iloc[12]["question"]
ans.iloc[12]["question"]

'What is the cost range of a sandwich in the cities? Options: $0 - $24.2, $0 - $55.9, $13 - $24.2, $17 - $35.2 The cost of vodka in Atlanta is higher than that of Honolulu. Options: True, False, Omit'

In [66]:
trace = ans.iloc[40]["question"]
ans.iloc[40]["question"]

'Over the course of years between 2009 and 2014, what was the range of the number of girls named â€˜Oliviaâ€™? Options: 1200-4700, 1200-8700, 1800-4000, 3000-8700The number of girls named â€˜Islaâ€™ was __________ from 2009 to 2012. Options: rising, falling, staying, Omit'

In [67]:
#filled_merged_df['question'].astype(str).str.lower().str.replace(r'\s+', '', regex=True)

In [68]:
def filter_dataframe_without_traces_normalized(df, trace1, trace2):
    """
    Filters a DataFrame to exclude rows where 'question' matches trace1 or trace2 
    (case-insensitive, no spaces) after normalizing the 'question' column.

    Args:
        df (pd.DataFrame): The DataFrame to filter.
        trace1 (str): The first trace to exclude.
        trace2 (str): The second trace to exclude.

    Returns:
        pd.DataFrame: The filtered DataFrame.
    """
    try:
        # Compile regular expression for removing spaces
        space_re = re.compile(r'\s+')

        # Normalize trace strings
        trace1_normalized = space_re.sub('', str(trace1).lower())
        trace2_normalized = space_re.sub('', str(trace2).lower())

        # Normalize the 'question' column for comparison
        normalized_question = df['question'].astype(str).str.lower().apply(lambda x: space_re.sub('', x))

        # Apply filtering based on the normalized 'question' column
        filtered_df = df[
            (normalized_question != trace1_normalized) &
            (normalized_question != trace2_normalized)
        ]
        return filtered_df
    except KeyError:
        print("Error: 'question' column not found in DataFrame.")
        return pd.DataFrame()
    except AttributeError:
        print("Error: one of the traces is not a string or cannot be converted to a string")
        return pd.DataFrame()

In [74]:
ready_filled_merged_df = filter_dataframe_without_traces_normalized(filled_merged_df, trace, trace2)

In [77]:
ready_filled_merged_df.to_csv("needtocheck.csv")

this ready_filled_merged_df really shouldnt have the problematic question, yet it seems to have! data amirite

this cell below is malfunctioning

In [34]:
#this is not working for some reason so i'll manually drop the questions that are problematic rn and generate results without them
#ans_wo_problem_questions = ans[(ans["question"]!= trace) & (ans["question"]!= trace2)]
new_ans = ans.drop([12,40])

i'll also go ahead and drop all the ones that we didnt use cause i just wanna have a perfectly checked sys

In [35]:
new_ans = new_ans.drop(range(43,54))

now i just merge this with the filled_merged_df but i just want to make sure of the hits, so i'll try to go through the questions here and see how many i find in the filled_merged, cause i should always find a same amount

In [36]:
#the length of any of them should be non zero, indicating we have that question somewhere

In [37]:
values_that_are_not_supposed_to_be_zero = []
for i in range(0,len(new_ans)):
    #print(new_ans.iloc[i]["question"])
    n_of_times_question_appears = len(ready_filled_merged_df[ready_filled_merged_df["question"]==new_ans.iloc[i]["question"]])
    values_that_are_not_supposed_to_be_zero.append(n_of_times_question_appears)

In [38]:
for i in values_that_are_not_supposed_to_be_zero:
    if (i ==0):
        print("is zero")

they all should match, so now ill do the left merge and bring all the responses, but i still have to extra perfect the responses

In [39]:
new_ans

,Unnamed: 0,dataset,question,answer,question_type
0,0,line_data.csv,What was the price of a barrel of oil in Febru...,$50.24,Retrieve Value
1,1,line_data.csv,In which month was the price of a barrel of oi...,December,Find Extremum
2,2,line_data.csv,What was the price range of a barrel of oil in...,$37.04 - $60.95,Determine Range
3,3,line_data.csv,"Over the course of the second half of 2015, th...",falling,Find Correlations/Trends
4,4,line_data.csv,About how much did the price of a barrel of oi...,$15,Make Comparisons
5,5,bar_data.csv,What is the average internet speed in Japan? O...,15 Mbps,Retrieve Value
6,6,bar_data.csv,In which country is the average internet speed...,South Korea,Find Extremum
7,7,bar_data.csv,What is the range of the average internet spee...,2 - 20.5 Mbps,Determine Range
8,8,bar_data.csv,How many countries in Asia is the average inte...,7 countries,Make Comparisons
9,9,stacked_bar_data.csv,What is the cost of peanuts in Las Vegas? Opti...,$12,Retrieve Value
10,10,stacked_bar_data.csv,About what is the ratio of the cost of a sandw...,4 to 10,Retrieve Value
11,11,stacked_bar_data.csv,In which city is the cost of soda the highest?...,Washington D.C.,Find Extremum
13,13,stacked_bar_data.csv,The ratio of the cost of Soda to the cost of W...,True,Make Comparisons
14,14,100_stacked_bar_data.csv,What is the approval rating of Republicans amo...,38%,Retrieve Value
15,15,100_stacked_bar_data.csv,What is the education level of people in which...,College Graduate,Find Extremum
16,16,100_stacked_bar_data.csv,The approval rating of Republicans for the peo...,False,Make Comparisons
17,17,pie_data.csv,About what is the global smartphone market sha...,25%,Retrieve Value
18,18,pie_data.csv,In which company is the global smartphone mark...,Lenovo,Find Extremum
19,19,pie_data.csv,The global smartphone market share of Apple is...,True,Make Comparisons
20,20,histogram_data.csv,How many people have rated the taxi between 4....,153,Retrieve Value
21,21,histogram_data.csv,What is the rating that the people have rated ...,4.4 - 4.6,Find Extremum
22,22,histogram_data.csv,The distribution of the taxi passenger rating ...,True,Characterize Distribution
23,23,histogram_data.csv,More people have rated the taxi between 4.6 an...,True,Make Comparisons
24,24,histogram_data.csv,How many people have rated the taxi 4.9? Optio...,Cannot be inferred,Identify the Characteristic of Bins
25,25,scatterplot_data.csv,What is the weight for the person who is 165.1...,70.5 kg,Retrieve Value
26,26,scatterplot_data.csv,What is the height for the tallest person amon...,197.1 cm,Find Extremum
27,27,scatterplot_data.csv,What is the range in weight for the 85 males? ...,53.9 - 123.6 kg,Determine Range
28,28,scatterplot_data.csv,What is the height for a person who lies outsi...,175.3 cm,Find Anomalies
29,29,scatterplot_data.csv,A group of males are gathered around the heigh...,True,Find Clusters
30,30,scatterplot_data.csv,There is a negative linear relationship betwee...,False,Find Correlations/Trends
31,31,scatterplot_data.csv,The weights for males with the height of 188 c...,False,Make Comparisons
32,32,area_data.csv,What was the average price of a pound of coffe...,$5.1,Retrieve Value
33,33,area_data.csv,When was the average price of a pound of coffe...,December 2014,Find Extremum
34,34,area_data.csv,What was the range of the average price of a p...,$4.6 - $6.0,Determine Range
35,35,area_data.csv,"Over the course of 2013, the average price of ...",falling,Find Correlations/Trends
36,36,area_data.csv,For how many months was the average price of a...,3 months,Make Comparisons
37,37,stacked_area_data.csv,What was the number of girls named â€˜Ameliaâ€™ in...,"4,200",Retrieve Value
38,38,stacked_area_data.csv,About what was the ratio of the number of girl...,1 to 1,Retrieve Value
39,39,stacked_area_data.csv,Over the course of years between 2009 and 2014...,2012,Find Extremum
41,41,stacked_area_data.csv,"In the UK, the number of girls named â€˜Ameliaâ€™ ...",rising,Make Comparisons
42,42,stacked_area_data.csv,Over the course of years between 2009 and 2014...,False,Make Comparisons

heres the generation moment for this df, so i can keep generating it again

In [78]:
answered_questions_and_correct_values = pd.merge(ready_filled_merged_df, new_ans, on='question', how='left')
answered_questions_and_correct_values=answered_questions_and_correct_values.drop(["dataset_x", "dataset_y", 'Unnamed: 0_y', 'Unnamed: 0_x'], axis=1)

now ill just use the following function to get how many were right, to generate the pass@k metric

In [79]:
answered_questions_and_correct_values.columns

Index(['image', 'question', 'gpt_answer_1', 'gpt_answer_2', 'gpt_answer_3',
       'gpt_answer_4', 'gpt_answer_5', 'gpt_answer_6', 'gpt_answer_7',
       'gpt_answer_8', 'gpt_answer_9', 'gpt_answer_10', 'gpt_answer_11',
       'gpt_answer_12', 'gpt_answer_13', 'gpt_answer_14', 'gpt_answer_15',
       'gpt_answer_16', 'gpt_answer_17', 'gpt_answer_18', 'gpt_answer_19',
       'gpt_answer_20', 'worsened_axes', 'google_model', 'openai_model',
       'title', 'referential_title', 'normal_title',
       'dataset_100_stacked_bar_data.csv', 'dataset_area_data.csv',
       'dataset_bar_data.csv', 'dataset_histogram_data.csv',
       'dataset_line_data.csv', 'dataset_pie_data.csv',
       'dataset_scatterplot_data.csv', 'dataset_stacked_area_data.csv',
       'dataset_stacked_bar_data.csv', 'plot_type_bar', 'plot_type_hist',
       'plot_type_line', 'plot_type_pie', 'plot_type_scatter',
       'plot_type_stacked_bar', 'plot_type_stacked_bar_100', 'color_black',
       'color_burlywood', 'color_chartreuse', 'color_lightgray',
       'color_lightpink', 'color_mediumvioletred', 'color_navy', 'color_red',
       'color_saddlebrown', 'color_tomato', 'answer', 'question_type'],
      dtype='object')

before counting how many they get right outta 20, lets make it more fair, and take out spaces, and lower every letter

In [80]:
for col in ['gpt_answer_1', 'gpt_answer_2', 'gpt_answer_3',
       'gpt_answer_4', 'gpt_answer_5', 'gpt_answer_6', 'gpt_answer_7',
       'gpt_answer_8', 'gpt_answer_9', 'gpt_answer_10', 'gpt_answer_11',
       'gpt_answer_12', 'gpt_answer_13', 'gpt_answer_14', 'gpt_answer_15',
       'gpt_answer_16', 'gpt_answer_17', 'gpt_answer_18', 'gpt_answer_19',
       'gpt_answer_20', 'answer']:
      if col in answered_questions_and_correct_values.columns: #Check that the column exists.
        answered_questions_and_correct_values[col] = answered_questions_and_correct_values[col].astype(str).str.lower().str.replace(r'\s+', '', regex=True)

and now a function to count the times it got it right

In [81]:
def add_correct_count_column(df, answer_columns, correct_answer_column, new_column_name='correct_count'):
    """
    Adds a new column to the DataFrame containing the number of answer columns that match the correct answer.

    Args:
        df (pd.DataFrame): The DataFrame to modify.
        answer_columns (list): A list of column names representing answer choices.
        correct_answer_column (str): The name of the column containing the correct answer.
        new_column_name (str): The name of the new column to create. Defaults to 'correct_count'.
    """

    def count_correct(row):
        correct_answer = row[correct_answer_column]
        correct_count = 0
        for col in answer_columns:
            if row[col] == correct_answer:
                correct_count += 1
        return correct_count

    df[new_column_name] = df.apply(count_correct, axis=1)

so this one below tracks how often they get it right out of 20

In [82]:
add_correct_count_column(answered_questions_and_correct_values, ['gpt_answer_1', 'gpt_answer_2', 'gpt_answer_3',
       'gpt_answer_4', 'gpt_answer_5', 'gpt_answer_6', 'gpt_answer_7',
       'gpt_answer_8', 'gpt_answer_9', 'gpt_answer_10', 'gpt_answer_11',
       'gpt_answer_12', 'gpt_answer_13', 'gpt_answer_14', 'gpt_answer_15',
       'gpt_answer_16', 'gpt_answer_17', 'gpt_answer_18', 'gpt_answer_19',
       'gpt_answer_20'], 'answer','passATk')

In [84]:
answered_questions_and_correct_values.to_csv("goodResults.csv")